div#header 
    a(href="/", class="header_link") Home
    |
    |
    a(href="/following" class="header_link") Following
    |
    |
    a(href="/notifications" class="header_link") Notifications
    |
    |
    a(href="/search" class="header_link") Search
    |
    |
    a(href="/dashboard" class="header_link") Dashboard